<header class="bg-green-500 p-4">
  <nav class="flex justify-between mx-auto container items-center" >
    <div class="flex items-center flex-shrink-0" >
      <%= link_to image_tag("logo.svg", alt: "tamemo logo", class: "w-10/12"), root_path %>
      <%= link_to "tamemo", root_path, class: "font-semibold text-white text-3xl" %>
    </div>
    <div class="flex items-center space-x-6 font-bold ml-auto">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white" %>
        <%= link_to "ログイン", new_user_session_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white"%>
        <%= link_to "ゲストログイン", "#", class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white"%>
      <% end %>
    </div>
  </nav>
</header>
