<header class="bg-green-500">
  <nav class="flex justify-between mx-auto container items-center">
    <div class="flex items-center">
      <%= link_to image_tag("logo.svg", alt: "tamemo logo", class: "w-10/12"), root_path %>
      <%= link_to "tamemo", root_path, class: "font-semibold text-white text-3xl" %>
    </div>
    <div class="flex items-center space-x-6 font-bold ml-auto text-teal-200">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "hover:text-white" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "hover:text-white" %>
        <%= link_to "ログイン", new_user_session_path, class: "hover:text-white" %>
        <%= link_to "ゲストログイン", "#", class: "hover:text-white" %>
      <% end %>
    </div>
  </nav>
  <%# TODO: Responsive Design %>
  <nav class="flex items-center container mx-auto mb-0 flex-shrink-0 md:space-x-14 lg:space-x-20 text-white">
    <%= link_to "ホーム", "#", class: "border-b-4 border-green-200" %>
    <%= link_to "履歴", class: %>
    <%= link_to "予算", class: %>
    <%= link_to "資産", class: %>
    <%= link_to "レポート", class: %>
    <%= link_to "掲示板", class: %>
    <%= link_to "設定", class: %>
  </nav>
</header>
