<%= render 'shared/flash_messages' %>
<% if current_user %>
  <% user = current_user %>
  <% user.expenses.each do |e| %>
    <div class="flex">
      <h1><%= ExpenseCategory.find(e.category_id).parent.name %>,</h1>
      <h1><%= ExpenseCategory.find(e.category_id).name %>,</h1>
      <h1><%= e.amount %>円,</h1>
      <h1><%= e.expended_at %></h1>
    </div>
  <% end %>
<% end %>
<%= button_to "支出登録", "/categories", method: :get %>