<div class="container bg-gray-100 rounded mx-auto mt-5">
  <h2 class="text-4xl text-center">新規登録</h2>
  <%= form_with model: @user, url: registration_path(resource_name), local: true do |form| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <label for="user_name">ユーザー名</label>
    <%= form.text_field :name, autofocus: true, autocomplete: "name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>

    <%= form.label :email %>
    <%= form.email_field :email, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
    <div class="flex">
      <%= form.label :password %>
      <% if @minimum_password_length %>
        <div>
          (<%= @minimum_password_length %> 文字以上)
        </div>
      <% end %>
    </div>
    <%= form.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
    </div>
    <div class="flex justify-end">
      <%= form.submit "新規登録", class: "bg-green-500 rounded-full text-teal-200 hover:text-white p-2 mt-3 mr-3" %>
    </div>
  <% end %>
</div>
